<!DOCTYPE html>
<html>

<head>
    {% include "style.html" %}
</head>

<body>
    <div class="main">
        <details>
            <summary>Help</summary>
            <p>
                This is the Heirloom Database. Using this software, you may create a digital archive
                containing photos and descriptions of your important physical objects. Your archive may
                one day help other people to determine the sentimental, cultural, or monetary value of
                the items that you document. By recording useful details or anecdotes about the items in
                your archive, you can preserve information about them that is not apparent by simple
                examination.
            </p>
            <p>
                Put simply, if you have a house full of old stuff, then your kids might appreciate a
                list of what's important and why. That way, they won't throw out something important
                after you're dead.
            </p>
            <p>
                To get started with the Heirloom Database, create a new Heirloom by tapping the
                button below. Take a photo of the item with your device's camera, write a
                description, and tap Create. This will add the Heirloom to your database. Repeat
                this process as many times as you like.
            </p>
            <p>
                When writing the description for an Heirloom, be sure to include all of the details that
                you think might be relevant. There's no need to be brief. After all, the purpose of this
                archive is to provide information that other people won't have unless you write it down.
            </p>
            <p>
                If you want to, you can edit a description for an Heirloom, retake a photo, or
                delete an Heirloom completely using the buttons in each Heirloom entry.
            </p>
        </details>
        <div class="heirloomGrid">
            <a href="/create_heirloom" class="buttonLink">Create Heirloom</a>
            {% for heirloom_id in heirlooms %}
            <a class="heirloom" href="/view_heirloom?id={{ heirloom_id }}">
                <img src="/{{ heirloom_id }}" />
            </a>
            {% endfor %}
        </div>
    </div>
</body>

</html>