<!DOCTYPE html>
<html>

<head>
    <title>View Heirloom — Heirloom Database</title>
    {% include "style.html" %}
</head>

<body>
    <div class="main">
        <details>
            <summary>Help</summary>
            <p>
                This is the page for a particular Heirloom in your database. You may edit or delete
                it by tapping the corresponding buttons below.
            </p>
        </details>
        <div>
            <a href="{{ urlSlug }}/" class="buttonLink">Home</a>
            <a href="{{ urlSlug }}/edit_heirloom?id={{ id }}" class="buttonLink">Edit</a>
            <a href="{{ urlSlug }}/delete_heirloom?id={{ id }}" class="buttonLink">Delete</a>
        </div>
        <img src="{{ urlSlug }}/{{ id }}" class="imgPrimary" />
        <div class="text description">{{ description }}</div>
    </div>
</body>

</html>